
<div class="jumbotron center">
	<h1>Bienvenido a Pug's life</h1>	
	<p>
		<%= link_to "Accede", new_user_session_path, class: "btn btn-default btn-lg" %>
		<%= link_to "Regístrate", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	</p>

</div>
