<div class="jumbotron">
<h1>Aquí hacemos cosas horripilantes</h1>
<p>Todos los que han pasado por nuestra tienda de cosas horripilantes han quedado fascinados. </p>
<%= link_to "Ven a visitarnos", "#", class: "btn btn-danger" %>
</div>